.login-form {
    width: 300px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; 
    margin-top: 100px;
    
}

.login-form h2 {
    margin: 0 0 20px;
}

.login-form input {
    width: calc(100% - 24px); 
    height: 40px;
    margin-bottom: 20px;
    padding: 0 8px; 
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-form input:hover {
    border-color: #007bff; 
}

.login-form button {
    width: calc(100% + 20px); 
    height: 40px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    /* cursor: pointer;ф; */
    margin-left: -10px; 
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #0056b3; 
}
.password-input {
    position: relative;
    margin-bottom: 20px; /* Adjust spacing as needed */
}


.password-input .password-toggle {
    position: absolute;
    top: 34%;
    right: 15px; /* Adjust right position as needed */
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

/* Additional styles for FontAwesome icons */
.password-toggle svg {
    font-size: 18px;
}

